@model Hire_work.Models.Advert
@{
    ViewData["Title"] = "AdvertDetails";
}

<ul>
    <li>Date:@Model.Date</li>
    <li>@Model.AdvertName</li>
    <li>@Model.Description</li>
    <li>@Model.WorkHours</li>
    <li>Contacts:@Model.EmailAddress</li>
    <li>@Model.HourPayment</li>
    <li>@Model.MonthlyPayment</li>
    <li>@Model.PhoneNumber</li>
</ul>

